@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}
:root {
  /* colors */
  --color-gradient: linear-gradient(90deg, #FF6A3A 0%, #FF527B 100%);
  --color-red: hsl(4, 100%, 67%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-grey: hsl(0, 0%, 58%);
  --color-white: hsl(0, 0%, 100%);
  --color-footer: hsl(228, 45%, 44%);
  /* spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1300: 6.5rem;
  /* radius */
  --radius-img-mobile: 0px 0px 16px 16px;
  --radius-img-tablet: 16px;
  --radius-img-desktop: 16px;
  --radius-email: 8px;
  --radius-button: 8px;
  --radius-card-tablet: 36px;
  /* Padding */
  --padding-card-tablet: 2.5rem;
  --padding-card-desktop: 2rem;
  /* typography */
  --fs-preset-1: clamp(40px, 4vw, 56px);
  --lh-preset-1: 1;
  --fs-preset-2: 1rem;
  --lh-base: 1.5;
  --fs-preset-3: 0.75rem;
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-blue-800);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  line-height: var(--lh-base);
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container-sign-up {
  min-height: 52.625rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  align-items: center;
}

.container-main {
  max-width: 20.4375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.sign-up-form .form-label {
  font-size: var(--fs-preset-3);
  font-weight: var(--fw-bold);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
.sign-up-form .form-label .form-input {
  font-size: var(--fs-preset-2);
  font-weight: var(--fw-regular);
  padding: var(--spacing-200);
  border-radius: var(--radius-email);
  border: 1px solid var(--color-grey);
}
.sign-up-form #email-error {
  display: none;
}
.sign-up-form .sign-up-button {
  background-color: var(--color-blue-800);
  color: var(--color-white);
  font-size: var(--fs-preset-2);
  font-weight: var(--fw-bold);
  padding: var(--spacing-200);
  border-radius: var(--radius-email);
  border: none;
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.container-content .container-title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.container-content .container-title h1 {
  font-size: var(--fs-preset-1);
  line-height: var(--lh-preset-1);
  font-weight: var(--fw-bold);
}
.container-content .container-title .paragraph-primary {
  font-size: var(--fs-preset-2);
  font-weight: var(--fw-regular);
}
.container-content .lists {
  font-size: var(--fs-preset-2);
  font-weight: var(--fw-regular);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
.container-content .lists .list {
  display: flex;
  gap: var(--spacing-200);
}

.container-success {
  display: none;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--color-footer);
}

@media (min-width: 768px) {
  /* bp-tablet */
}
@media (min-width: 1440px) {
  /* bp-desktop */
}

/*# sourceMappingURL=style.css.map */
